@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-size: normal;
}

:root{
    --cor0: #EBE5C5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #105c37;
    --cor5: #063d1e;

    --fontepadrao: Arial,Helvetica, sans-serif;
    --fontedestaque: "Bebas Neue", sans-serif;
    --fonteandroid: "Idroid", sans-serif;

}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--fontepadrao);
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    color: white;
    text-align: center;
    height: 170px;
    padding-top: 10px;
    padding-bottom: 40px;
    
}

header > h1{
    font-family: var(--fontedestaque);
    font-weight: lighter;
    font-size: 3em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.432);
    margin: 20px;
}

header > p{ 
    font-size: 1.3em;
    max-width: 650px;
    margin: auto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.432);

}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.5);
}

nav > a{
    font-weight: bold;
    color: var(--cor2);
    text-decoration: none;
    padding: 10px;
    transition-duration: 0.5s;
    border-radius: 5px;
}

nav > a:hover{
    background-color: #2fa866;
    color: var(--cor4);
}

main{
    background-color: white;
    margin: auto;
    margin-bottom: 40px;
    padding: 20px;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 10px 10px;
    min-width: 300px;
    max-width: 1000px;
}

main h1{
    font-family: var(--fonteandroid);
    color: var(--cor5);
    font-size: 1.8em;
    font-weight: lighter;
    margin: 0px;
}

main h2{
    font-family: var(--fonteandroid);
    background-image: linear-gradient(to right, var(--cor1), #3ddc8500);
    color: var(--cor5);
    font-size: 1.4em;
    text-indent: 10px;
    font-weight: lighter;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
}

main p{
    line-height: 2em;
    text-indent: 30px;
    text-align: justify;
    margin: 10px;
}

main a{
    background-color: var(--cor1);
    font-weight: bolder;
    color: var(--cor5);
    padding: 2px 5px;
    text-decoration: none;
}

main img{
    width: 100%;
}

main .pequena{
    width: 50%;
    margin: auto;
    display: block;
}
main a::after{
    content: '\00A0\00A0\1F517';
}

main a:hover{
    text-decoration: underline;
}

div.video{
    background-color: var(--cor5);
    padding: 20px;
    margin: 0px -20px 20px -20px;

    position: relative;
    padding-bottom: 57%;

}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;

    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 0px 10px;
}

aside > h3{
    background-color: var(--cor5);
    padding: 10px;
    color: white;
    margin: 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul{
    columns: 2;
    list-style-position: inside;
    list-style-type: '\2714\00A0';

}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
